<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <danke_slider>
            <general>
                <slider_enabled>1</slider_enabled>
            </general>
        </danke_slider>
    </default>
</config>